.drag {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 5px solid #d9d9d9;
  background: #f7f7f7;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.drop-target {
  width: 700px;
  height: 100px;
  padding: 150px 10px;
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  text-align: center;
}
